/* 全域設定與共通樣式 */

*,*::before,*::after {
    box-sizing: border-box;
    
}

body {
    font-family: "PingFang TC";
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.primary {
    color: #3F5D45;
}

.secondary {
    color: #EAF0ED;
}

.bg-primary {
    background-color: #3F5D45;
}

.bg-secondary {
    background-color: #EAF0ED;
}

.border-secondary {
    border: 1px solid #EAF0ED;
}

.hover-bg-secondary,.hover-bg-primary {
    transition: all .3s;
}

.hover-bg-secondary:hover {
    background-color: #EAF0ED;
    color: #3F5D45;
}

.hover-bg-primary:hover {
    background-color: #3F5D45;
    color: #EAF0ED;
}

.bg-img {
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.align-center {
    text-align: center;
}

.font-s {
    font-size: 16px;
}

.font-m {
    font-size: 20px;
}

.font-l {
    font-size: 24px;
}

.custom-link {
    display: block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.mb-s {
    margin-bottom: 20px;
}

.mb-m {
    margin-bottom: 30px;
}

.mb-l {
    margin-bottom: 60px;
}

.mt-m {
    margin-top: 30px;
}

.mt-xs {
    margin-top: 10px;
}

.mr-l {
    margin-right: 60px;
}

.p-s {
    padding: 10px;
}

.pt-s {
    padding-top: 14px;
}

.pb-s {
    padding-bottom: 14px;
}

.pt-m {
    padding-top: 16px;
}

.pb-m {
    padding-bottom: 16px;
}

/* 全域設定與共通樣式 結束*/

/* 各別樣式 */
.logo .logoImg{
    height: 40px;
    width: auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuLink {
    font-weight: 600;
}

.menuLink:hover {
    color: #1a2e1e;
}

.cart .cartImg {
    cursor: pointer;
}

.banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/banner.png);
    height: 496px;
    width: 100%;
}

.flex-mainBlock {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 32%;
}

.products {
    width: 65%;
}

.card {
    width: 47.5%;
}

.sideList {
    font: normal normal 600 24px/40px;
}

.flex-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productImg  {
    height: 315px;
    position: relative;
}

.cardText {
    width: 100%;
}

.tag {
    writing-mode:vertical-rl;
    display: inline-block;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font: normal normal 600 16px/20px;
    letter-spacing: 3px;
    position: absolute;
    left: 20px;
    top: 0;
}

.favorite {
    position: absolute;
    top: 22px;
    right: 22px;
}

.flex-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.productName, .productPrice {
    border: 1px solid #EAF0ED;
    display: inline-block;
}

.productName {
    width: 60%;
    font: normal normal 300 20px/20px;
}

.productPrice {
    width: 40%;
    font: normal normal 600 20px/24px;
}

.addCart {
    font: normal normal 600 24px/20px;
}

.pages {
    display: flex;
    justify-content: end;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageLink {
    display: block;
    text-align: center; 
    font: normal normal 300 20px/60px;  
    padding: 30px;
}

.pageLink .linkImg {
    vertical-align: middle;
    display: inline;
}